name: Daily Update

on:
  schedule:
    - cron: '20 5 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        run: pip install requests

      - name: Run script
        run: python rizospastis.py

      - name: Commit changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add rizospastis_current.pdf
          git commit -m "Update PDF for $(date +'%Y-%m-%d')" || exit 0
          git push
