name: Daily Rizospastis Download

on:
  schedule:
    - cron: '20 5 * * *'  # 05:20 UTC είναι 08:20 ώρα Ελλάδας (το καλοκαίρι θέλει προσαρμογή)
  workflow_dispatch:      # Σου επιτρέπει να το τρέχεις και χειροκίνητα

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python rizospastis.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add *.pdf
          git commit -m "Daily PDF: $(date +'%Y-%m-%d')"
          git push
